@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
    
}
p{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 20px;
}
.flexiable-container{
    display: flex;
    margin-bottom: 150px;
}
.banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    
}
.name{
    padding-bottom: 15px;
}
.width-half{
    width: 50%;
    padding: 20px 70px;
}
.click{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(5, 161, 115);
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.profile-image{
    width: 50%;
}
.name-color{
    color: rgb(5, 161, 115);
}
.home_blob{ 
    width: 50%;
    height: 350px;
    fill: rgb(5, 161, 115);
    padding: 0 150px;
}

.home_blob-img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.dream-big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
}*/
.experiance-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiance{
    text-align: center;
    margin-bottom: 25px;
}
.experiance-title{
    padding-bottom: 10px;
    color: rgb(5, 161, 115);;
}
.experiance-duration{
    padding-bottom: 10px;
    font-size: 20px;
}

.experiance-item{
    width: 40%;
    margin: 0 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    
}
#stack-developer{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#juniar-developer{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(3, 161, 161), cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
